@import "../../assets/main.scss";

.Repo {
  background: white;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 10px $shadow;
  -moz-box-shadow: 0 3px 10px $shadow;
  box-shadow: 0 3px 10px $shadow;
  text-decoration: none;
  color: $blue;
}

.Repo:hover,
.Repo:focus,
.Repo:active {
  text-decoration: none;
  color: $blue;
}
